/* 
    Document   : displaymode
    Created on : 26 avr. 2013, 20:00:49
    Author     : claire
    Description:
        Purpose of the stylesheet follows.
*/


/* ======================================================================================
 * GLOBAL
 * ====================================================================================== */


root { 
    display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, p 
{
    font-family: Arial;
}




/* ======================================================================================
 * TEMPLATE JMPRESS LIGHT
 * css très léger des éléments de slideArea (éléments, slides)
 * Pour debug
 * ====================================================================================== */

.step {
    border: 1px dashed #ccc;
    /*    width: 100px;
        background-color: rgba(50,50,50,.5);*/
    /*  position:relative;  
        padding: 40px;
        margin: 20px auto;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
    
        font-family: 'PT Serif', georgia, serif;
        font-size: 48px;
        line-height: 1.5;*/
}


.slide {
    display: block;

    width: 900px;           /* taille réelle : 900 */
    height: 700px;          /* taille réelle : 700 */
    padding: 40px 60px;

    background-color: rgba(100,100,100,.5);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    /*    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    
        color: rgb(102, 102, 102);
        text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 70px;
        line-height: 36px;
        letter-spacing: -1px;*/

}


.slide:hover{
    background-color: rgba(150,150,150,.5);
}


h1
{
    font-size: 3em;
}




.step .element
{
    border: 1px dashed red;
}




/* ======================================================================================
 * DISPLAY JMPRESS OUTPUT
 * css s'appliquant à displaymode.html (à mettre ds fichier à part ?)
 * ====================================================================================== */


body
{
    background: #DDD;
/*    left: 0px;
    top: 0px;
    right:0;
    bottom:0;
    height:100%;
    position:fixed !important;
    position:absolute;*/
    z-index: 1;
}