/* 
    Document   : EditorCSS
    Created on : 14 mars 2013, 18:05:16
    Author     : Zool
    Description:
        Purpose of the stylesheet follows.
*/
html, body, body > div.row-fluid {
    height: 100%;
}


.step {
    border: 1px solid #ccc;
    width: 200px;
    height: 150px;
}

#editor{
    height: 100%;
    position: relative;
   
}


#control-menu {
    height: 500px;
}

#zoneCreation {
  height : 500px;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}