/* CSS de test */
.hidden {
    display : none;
}


#tree {
    color: black
}

.present-slide{
    color: red;
}

.past-slide{
    color: gray;
}

.future-slide{
    color: blue;
}

/* @-webkit-keyframes spinner {
    from,15% { -webkit-transform: rotateY(0deg);    }
    20%,35%  { -webkit-transform: rotateY(-72deg);  }
    40%,55%  { -webkit-transform: rotateY(-144deg); }
    60%,75%  { -webkit-transform: rotateY(-216deg); }
    80%,95%  { -webkit-transform: rotateY(-288deg); }
    to       { -webkit-transform: rotateY(-360deg); }
 }  
 
 
 @-webkit-keyframes move {
     from   {      }
     to     { -webkit-transform: transform3D(0px,0px,-1000px);    }
     
 }
 
#slide1 {
     -webkit-animation-name: move;
     -webkit-animation-duration: 10s;
     -webkit-animation-iteration-count: 1;
 }
   */
  
/*   .slide {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
  }
  .slide:hover {
    -webkit-animation-play-state: paused;
  } */




/********************************************************************************************/
/****************************** CSS des composants au sein des slides************************/
/********************************************************************************************/


/*////////////////Gestion des styles de texte////////////*/

.slide span {
    /*border : dashed black 10px;*/
    font-family: Arial;

}

.slide .element{
    /*border : dashed black 10px;*/
    margin: auto;
    position: relative;

}

.H1Text
{

    text-align:center;
    padding-top: 30px;
    padding-bottom: 20px;
    /*margin: auto;*/     
    display: block;
    /*font-size: 15em;*/
    font-size: 6em;
    font-weight: bold;

}

.H2Text
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

.H3Text
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

.bodyText
{
    font-size:2em;
}

/*Fin de gestion des styles*/


/********************************************************************************************/
/****************************** CSS du joystick ********************************************/
/********************************************************************************************/
#joystick {
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: rgba(14,5,206,0.2); 
    display: none;
    /*    left: 100px;
        top: 100px;*/
    z-index: 100;
}


.zone-tolerance-joystick {
    background-color: rgba(227,4,35,0.5);
    position: absolute;
    z-index: 101;
}

#zone-tolerance-x {
    width: 300px;
    height: 40px;
    top: 130px;
    left: 0px;
    
}

#zone-tolerance-y {
    height: 300px;
    width: 40px;
    left: 130px;
    top: 0px;
    
}