/********************************************************************************************/
/****************************** CSS des composants au sein des slides************************/
/********************************************************************************************/


/*////////////////Gestion des styles de texte////////////*/

.slide span {
    /*border : dashed black 10px;*/
    font-family: Arial;

}

.slide .element{
    /*border : dashed black 10px;*/
    margin: auto;
    position: relative;

}

.H1Text
{

    text-align:center;
    padding-top: 30px;
    padding-bottom: 20px;
    /*margin: auto;*/     
    display: block;
    font-size: 6em;
    font-weight: bold;

}

.H2Text
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

.H3Text
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

.bodyText
{
    font-size:2em;
}

/*Fin de gestion des styles*/


/********************************************************************************************/
/****************************** CSS du joystick ********************************************/
/********************************************************************************************/
#joystick {
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: rgba(14,5,206,0.2); 
    display: none;
    /*    left: 100px;
        top: 100px;*/
    z-index: 100;
}


.zone-tolerance-joystick {
    background-color: rgba(227,4,35,0.5);
    position: absolute;
    z-index: 101;
}

#zone-tolerance-x {
    width: 300px;
    height: 40px;
    top: 130px;
    left: 0px;
    
}

#zone-tolerance-y {
    height: 300px;
    width: 40px;
    left: 130px;
    top: 0px;
    
}