/* 
    Document   : layout.css
    Created on : 10 avr. 2013, 22:33:04
    Author     : claire
    Description:
        Purpose of the stylesheet follows.
*/

/* ======================================================================================
 * GLOBAL
 * ====================================================================================== */


root { 
    display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, p 
{
    font-family: Arial;
}

/* ======================================================================================
 * TOP BAR
 * ====================================================================================== */

/*#topbar
{
    background: #666;
    height: 30px;
    width:300px;
    position:absolute;
    right:0;
    z-index: 1200;
}*/
#topbar a p
{
    text-align: center;
    padding: 4%;
    margin: auto;
    color:#FFF;
}

#topbar a
{
    text-decoration: none;
}

/*Menu*/

#topbar ul
{
    list-style: none;
    /*background: #666;*/
    /*height: 30px;*/
    /*width:300px;*/
    background: #666;
    position:absolute;
    right:0;
    z-index: 1200;
}

#topbar ul li
/*#parameters, #save, #present*/
{
    display:inline-block;
    background: #666;
    width:100px;
    margin: auto;
    /*border-right: 2px solid #444;*/
}

#topbar ul li:hover
{
    /*text-decoration: none;*/
    background: #444;
}

/*Sub-menu*/

#topbar ul ul li
{
    display:block;
    
}

#topbar-submenu
{
    z-index: 1000;
    display:none;
}



/* ======================================================================================
 * SIDE BAR
 * ====================================================================================== */


#sidebar
{
    /*background: #666;*/
    height: 100%;
    width:180px;
    position:absolute;
    left:0;
    top:0;
    z-index: 1200;
    background: #666; 
    opacity:0.9;
    filter:alpha(opacity=90);
}

#sidebar #arrow-nav
{
    position:absolute;
    display: block;
    margin-left: 180px;
    width:50px;
    height: 50px;
    /*background: #666;*/ 
    /*    margin: auto 200px;*/
    top:50%;
    background:url("../images/arrowsWGp.PNG") 0 0 no-repeat;
}
/*
#sidebar #arrow-nav:hover
{
    background-position: -50px 0;
}*/

#sidebar h1, a
{
    text-align: center;
    color:#FFF;
}

#sidebar h1
{
    border-bottom: 2px solid #444;
    line-height: 3em;
    font-weight: bold;
    font-size: 1em;
}

#sidebar ul
{
    list-style: none;
}

#sidebar li
{
    border-bottom: 1px solid #444; 
}

#sidebar li a
{
    text-decoration: none;
    line-height: 2em;

}

#sidebar ul ul li:hover, #sidebar ul ul li:focus
{
    background: #444;
}

#sidebar .submenu
{
    position:absolute;
    margin-left:180px;
    margin-top: -32px;
    background: #666;
    width: 100px;
}

#sidebar ul ul ul li
{
    display:none;
}

#sidebar ul ul li:hover  ul li
{
    display:block;
}

#sidebar #time-line
{
    border-bottom:none;
}

.nav-button
{
    height:80px;
}

.nav-button img
{
    width: 40%;
    height:40%;
    margin: 0 auto;
    padding: 0;
    display:block;
}


#previous, #next
{
    display:inline-block;
    width:48%;
}

.buttonclicked
{
    background: #444;
}


/* ======================================================================================
 * LAYOUT
 * ====================================================================================== */


#layout
{
    background: #DDD;
    left: 0px;
    top: 0px;
    right:0;
    bottom:0;
    height:100%;
    /*position:fixed !important;*/
    position:absolute;
    z-index: 1;
}

#slideArea
{
    z-index: 2;
}


/* ======================================================================================
 * TEMPLATE JMPRESS LIGHT
 * css très léger des éléments de slideArea (éléments, slides)
 * Pour debug
 * ====================================================================================== */

.step {
    /*border: 1px dashed #ccc;*/
    /*    width: 100px;
        background-color: rgba(50,50,50,.5);*/
    /*  position:relative;  
        padding: 40px;
        margin: 20px auto;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
    
        font-family: 'PT Serif', georgia, serif;
        font-size: 48px;
        line-height: 1.5;*/
}


.slide {
    display: block;

    width: 900px;           /* taille réelle : 900 */
    height: 700px;          /* taille réelle : 700 */
    padding: 40px 60px;

    background-color: rgba(100,100,100,.5);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    /*    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    
        color: rgb(102, 102, 102);
        text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 70px;
        line-height: 36px;
        letter-spacing: -1px;*/

}




.slide:hover{
    background-color: rgba(150,150,150,.5);
}


h1
{
    font-size: 3.5em;
    font-weight: bold;
}

#slideArea p
{
    /*color:red;*/
    font-size: 2em;
    z-index: 2;
}



.element:hover
{
    background-color: rgba(250,250,250,.5);
}




/* ======================================================================================
 * DISPLAY JMPRESS OUTPUT
 * css s'appliquant à displaymode.html (à mettre ds fichier à part ?)
 * ====================================================================================== */


#jmpress
{
    background: #DDD;
    left: 0px;
    top: 0px;
    right:0;
    bottom:0;
    height:100%;
    /*position:fixed !important;*/
    position:absolute;
    /*z-index: 1;*/
}