/* 
    Document   : layout.css
    Created on : 10 avr. 2013, 22:33:04
    Author     : claire
    Description:
        Purpose of the stylesheet follows.
*/

/* ======================================================================================
 * GLOBAL
 * ====================================================================================== */


root { 
    display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
 /*ol,*/
 ul, 
 /*li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



body
{
    background: #DDD;
    z-index: 100;
}

/* ======================================================================================
 * TOP BAR
 * ====================================================================================== */

#topbar  p
{
    text-align: center;
    padding: 4%;
    margin: auto;
    color:#FFF;
}

/*Menu*/

#topbar ul
{
    list-style: none;
    /*background: #666;*/
    /*height: 30px;*/
    /*width:300px;*/
    background: #666;
    position:absolute;
    right:0;
    z-index: 1200;
}

#topbar ul li
/*#parameters, #save, #present*/
{
    display:inline-block;
    background: #666;
    width:100px;
    margin: auto;
    /*border-right: 2px solid #444;*/
}

#topbar ul li:hover
{
    /*text-decoration: none;*/
    background: #444;
}

/*Sub-menu*/

#topbar ul ul li
{
    display:block;

}

#topbar-submenu
{
    z-index: 10;
    display:none;
}



/* ======================================================================================
 * SIDE BAR
 * ====================================================================================== */


.sidebar
{
    /*background: #666;*/
    height: 100%;
   
    position:absolute;
    left:0;
    top:0;
    z-index: 0;
    background: #666; 
    opacity:0.9;
    filter:alpha(opacity=90); 
}

#sidebar{
     width:180px;
     z-index: 10;
}



.sidebar .arrow-nav
{
    position:absolute;
    display: block;
    
    width:50px;
    height: 50px;
    /*background: #666;*/ 
    /*    margin: auto 200px;*/
    
    background:url("../images/arrowsWGp.PNG") 0 0 no-repeat;
    /*background-size: 90%;*/
}

.sidebar #arrow-nav{
    top:60%;
    margin-left: 180px;
}
.sidebar #arrow-nav-tree{
    top: 8%;
     left: 380px; 
}
/*
#sidebar #arrow-nav:hover
{
    background-position: -50px 0;
}*/

.sidebar 
{
    text-align: center;
    color:#FFF;
}

.sidebar h1, h3
{
    border-bottom: 2px solid #444;
    line-height: 3em;
    font-weight: bold;
    font-size: 1em;
}

.sidebar ul
{
    list-style: none;
}

.sidebar li
{
    border-bottom: 1px solid #444; 
}

.sidebar li 
{
    line-height: 2em;

}

.sidebar ul ul li:hover, #sidebar ul ul li:focus
{
    background: #444;
}

.sidebar .submenu
{
    position:absolute;
    margin-left:180px;
    margin-top: -32px;
    background: #666;
    width: 100px;
}

#sidebar ul ul ul li
{
    display:none;
}

#sidebar ul ul li:hover  ul li
{
    display:block;
}

#sidebar #time-line
{
    border-bottom:none;
    height: 500px;   /* KIKI pas du tout responsive ! La div ne doit pas dépasser le bas de l'écran !!! */
}

#geek-tool p
{
    color:#888;
}

.nav-button
{
/*     height:80px; */
}

.nav-button img
{
    width: 40%;
    height:40%;
    margin: 0 auto;
    padding: 0;
    display:block;
}


#previous, #next
{
    display:inline-block;
    width:48%;
}

.buttonclicked
{
    background: #444;
}








/* ======================================================================================
 * TREE
 * ====================================================================================== */

#sidebarTree{
     width: 100%;
     
}

/* #sidebarTree{
    display: inline;
} */

#treeMaker {
    display: block;
    clear: left;
    color: white;
    font-family: Arial;
    text-align:left;
}

#tree {
    color: white;
    font-family: Arial;
}

#tree-action-button li{
    display: inline;
    float: left;
    width:50%;    
}



.present-slide{
    color: white ;
}

.past-slide{
    color: #9F9FA0;
}

.future-slide{
    color:  #ABAAFF;
}

.addSibling{
     list-style-type: none;
     margin-left: 2px;
}

.removeSibling{
    /*text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;*/
    margin-left: 2px;
}


/* ======================================================================================
 * TIME LINE SORTABLE
 * css s'appliquant à displaymode.html (à mettre ds fichier à part ?)
 * ====================================================================================== */

#sortable 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    /*width: 60%;*/ 
}

#sortable li 
{ 
    /*margin: 0 3px 3px 3px;*/ 
    padding: 0.4em; 
    /*padding-left: 1.5em;*/ 
    /*font-size: 1.4em;*/ 
    height: 18px; 
    background: #999;
    text-align: center;
    color: #FFF;
    font-family: Arial;
}

#sortable li span,   #sortable li a  
{ 
    padding:0; 
}
#sortable li a  
{
    display:none;
    float:right;
    color: #f03;
    font-weight: 900;
    padding: 0.1em;
    /*vertical-align:auto;*/
    font-size: 1.8em;
    line-height: 0;
}


