
.forme {
  background: blue;
    height: 50px;
    width: 50px;
    padding: 0.5em;     
    z-index: 2; 
    

}


/* pour switcher d'un mode ï¿½ l'autre*/
/*
#editor {
    display: inline;
}

#impress {
    display: none;
}
*/

.groupe {
    background: #ff0000;
}
/*
.square {

}
*/

.circle {
    border-radius:100%;
}


p {
    font-size:10px;
    color: blue;
}


.init  {
    border: dashed black;
    height : 40px;
    width: 40px;
    z-index:3;
}



.rond {
    position: relative;
    top: 100px;
    background: red;
    height: 10px;
    width: 10px;
    border-radius:100%;
}


.longclick {
    border : dashed black 20px;
    
}

.slidegroupe {
    
    border: dashed black; 
    height: 310px;
    width: 390px;
    z-index:0;  
    filter:alpha(opacity=50); 
    opacity:0.5;
    
   
}

.zonePouet {
    border: dashed blue;
    height:62px;
    width: 78px;
    
    z-index:1;
    
    
}
.alt
{
    border: 4px solid red;          
}


/*
.zoneTexte{
    width : 50px;
    height: 50px;
    border: dashed blue;
    background: #ffffff;
    
}
*/


.newGroupe {
     width : 50px;
    height: 50px;
    border: dashed blue;
    background: #ffffff;
     
}

.adS {
     width : 50px;
    height: 50px;
    background: red;
     
}

